.title {
    margin-top: 50px;
    background-color: #B5B5B5;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.container1{
    width: 100%;
    margin: 25px auto ;
    padding: 25px;
    background-color: #FFEBEC;
}



/* productos! */

.card{
    margin: auto 150px;
    display: grid;
    width: 75%;
    grid-template-columns: repeat(4, 300px);
    justify-content: space-around;
    column-gap: 25px;
    justify-self: center;
}

.card1 {
    display: grid;
    width: 300px;
    height: 400px;
    grid-template-rows: 300px 50px 50px;
    background-color: #B5B5B5;
    color: white;
    font-size: 8px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    justify-content: center;
    border: solid 20px #000;


}

.card1 h1 {
    font-size: 20px;
}

/* .card1{
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px 25px 25px;
    color: white;
    width: 50%;
    border-radius: 15%;
} */


.imagenesCard {
    width: 200px;
    height: 300px;
    border-radius: 5%;
}


.btn {
    width: 120px;
    font-size: 15px;
}


